<a href="https://colab.research.google.com/github/Enginar220/Playground_DataProjects/blob/main/Playground_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting Up the Environment

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Colab Notebooks/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [4]:
#changing the working directory
%cd /content/gdrive/My Drive/Colab Notebooks/Kaggle
#Check the present working directory using pwd command

/content/gdrive/My Drive/Colab Notebooks/Kaggle

In [5]:
!kaggle competitions download -c playground-series-s3e15

!kaggle datasets download -d saurabhshahane/predicting-heat-flux

Downloading playground-series-s3e15.zip to /content/gdrive/My Drive/Colab Notebooks/Kaggle
100% 405k/405k [00:00<00:00, 772kB/s]
100% 405k/405k [00:00<00:00, 769kB/s]
Downloading predicting-heat-flux.zip to /content/gdrive/My Drive/Colab Notebooks/Kaggle
  0% 0.00/19.2k [00:00<?, ?B/s]
100% 19.2k/19.2k [00:00<00:00, 3.50MB/s]

In [6]:
!ls

Data_CHF_Zhao_2020_ATE.csv  playground-series-s3e15.zip
data.csv		    predicting-heat-flux.zip
kaggle.json		    sample_submission.csv

In [7]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  playground-series-s3e15.zip
replace data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: data.csv
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: sample_submission.csv

Archive:  predicting-heat-flux.zip
replace Data_CHF_Zhao_2020_ATE.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: Data_CHF_Zhao_2020_ATE.csv

2 archives were successfully processed.

In [18]:
df = pd.read_csv("data.csv") # The dataset that is generated using  Data_CHF_Zhao_2020_ATE
df = df.drop(["id"], axis=1)

df_original = pd.read_csv("Data_CHF_Zhao_2020_ATE.csv") # The original dataset
df_original = df_original.drop(["id"], axis=1)

In [19]:
df.head()

,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8

In [20]:
df.shape

(31644, 9)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author               26620 non-null  object
 1   geometry             26144 non-null  object
 2   pressure [MPa]       27192 non-null  float64
 3   mass_flux [kg/m2-s]  26853 non-null  float64
 4   x_e_out [-]          21229 non-null  float64
 5   D_e [mm]             26156 non-null  float64
 6   D_h [mm]             27055 non-null  float64
 7   length [mm]          26885 non-null  float64
 8   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.2+ MB

In [22]:
df_original.head()

,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,Inasaka,tube,0.39,5600,-0.1041,3.0,3.0,100,11.3
1,Inasaka,tube,0.31,6700,-0.0596,3.0,3.0,100,10.6
2,Inasaka,tube,0.33,4300,-0.0395,3.0,3.0,100,7.3
3,Inasaka,tube,0.62,6400,-0.1460,3.0,3.0,100,12.8
4,Inasaka,tube,0.64,4700,-0.0849,3.0,3.0,100,11.0

In [23]:
df_original.shape

(1865, 9)

In [24]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author               1865 non-null   object
 1   geometry             1865 non-null   object
 2   pressure [MPa]       1865 non-null   float64
 3   mass_flux [kg/m2-s]  1865 non-null   int64
 4   x_e_out [-]          1865 non-null   float64
 5   D_e [mm]             1865 non-null   float64
 6   D_h [mm]             1865 non-null   float64
 7   length [mm]          1865 non-null   int64
 8   chf_exp [MW/m2]      1865 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 131.3+ KB

### Objective of The Notebook
We want to predict the missing values belonging to the column "x_e_out[-]" (with the corresponding row id) for the artificial data (df).

In [25]:
# Concatenate the dataframes
df_full = pd.concat([df, df_original])

# Reset the index of the concatenated dataframe
df_full = df_full.reset_index(drop=True)

df_full.head()

,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8

In [70]:
X_train0 = df_full[df_full["x_e_out [-]"].notnull()].drop(["x_e_out [-]"], axis=1)
y_train0 = df_full["x_e_out [-]"].dropna()

X_test0 = df_full[df_full["x_e_out [-]"].isnull()].drop(["x_e_out [-]"], axis=1)

In [81]:
#Firstly, what I want to try is to fill the NaN values in the 'x_e_out [-]' column with the mean of the available values.


first_try = df_full[df_full["x_e_out [-]"].isnull()].fillna(df_full['x_e_out [-]'].mean())["x_e_out [-]"]

first_try.head()

4     0.00089
7     0.00089
10    0.00089
12    0.00089
23    0.00089
Name: x_e_out [-], dtype: float64

In [85]:
#Format of the submission should be looking as follows;

df_sub = pd.read_csv("sample_submission.csv")

df_sub.head()

   id  x_e_out [-]
0   4          0.0
1   7          0.0
2  10          0.0
3  12          0.0
4  23          0.0

In [92]:
df_submission0 = pd.DataFrame({'id': first_try.index, 'x_e_out [-]': first_try.values})

df_submission0.to_csv('submission.csv', index=False)